<a href="https://colab.research.google.com/github/DhirajBembade/Practice-Python-Program/blob/main/Pandas%20Method%20Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series- one dimensional data str

In [ ]:
import pandas as pd
import numpy as np

# Creating empty series
ser=pd.Series()
print(ser)

Series([], dtype: float64)

<ipython-input-35-6158bea169fd>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser=pd.Series()

In [ ]:
# simple arry
data=np.array(['a','b','c','d','e'])
ser=pd.Series(data)
print(ser)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
a=(10,15,47,50)
ser=pd.Series(a)
print(ser)

0    10
1    15
2    47
3    50
dtype: int64

In [ ]:
data=(10.5,20.5,30.5)
ser=pd.Series(data)
print(ser)

0    10.5
1    20.5
2    30.5
dtype: float64

# DataFrame-Two dimensional data str

In [ ]:
import pandas as pd
df=pd.DataFrame
print(df)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
D=["learning", "data","science","is","easy"]
df=pd.DataFrame(D)
print(df)

          0
0  learning
1      data
2   science
3        is
4      easy

In [ ]:
# creating df from dict of ndarray/list:

data={'Name':['Tom','Harry','Nick','Jack','Rock'], 'Age':[20,25,30,50,65]}
#in above data key-2 Name & Data
# Values- tom, harry .... & 20,25,30...# rane of n=5
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1  Harry   25
2   Nick   30
3   Jack   50
4   Rock   65

In [ ]:
# creating df from lists using dictionary:
import pandas as pd

data={'name':['aparna','ruchi','ankush','ram','krish'],'degree':['MBA', 'BCA','M.TECH','MBA','BSC'],'score':[70,80,85.5,78,80]}
df=pd.DataFrame(data)
print(df)
print(type(data))
print(type(df))

     name  degree  score
0  aparna     MBA   70.0
1   ruchi     BCA   80.0
2  ankush  M.TECH   85.5
3     ram     MBA   78.0
4   krish     BSC   80.0
<class 'dict'>
<class 'pandas.core.frame.DataFrame'>

# Read CSV Files-

In [ ]:
import pandas as pd

data= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/nba.xls")
data.info()  #---calling method -- for all info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
data.head() #---calling method but only first 5 row

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
data.tail() #--last 5 row display

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Creating a series by using single column
series=data["Name"]
series

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
457              NaN
Name: Name, Length: 458, dtype: object

In [ ]:
type(series)

pandas.core.series.Series

In [ ]:
# info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
# Column selection
import pandas as pd

data={'name':['jai','viru','pranshu','anuj','anjali'],'age':[20,25,27,29,23], 'address city':['mumbai','delhi','pune','madras','surat'], 'qualification':['mba','bsc','bca','m.tech','phd']}
df=pd.DataFrame(data)
print(df[['name','qualification']])

      name qualification
0      jai           mba
1     viru           bsc
2  pranshu           bca
3     anuj        m.tech
4   anjali           phd

In [ ]:
fd=pd.DataFrame(data)
print(fd[['name','age']])

      name  age
0      jai   20
1     viru   25
2  pranshu   27
3     anuj   29
4   anjali   23

In [ ]:
data={'name':['jai','viru','pranshu','anuj','anjali'],'age':[20,25,27,29,23], 'address city':['mumbai','delhi','pune','madras','surat'], 'qualification':['mba','bsc','bca','m.tech','phd']}
df=pd.DataFrame(data)
age=[30,40,25,27,20]
df['age']=age
df

      name  age address city qualification
0      jai   30       mumbai           mba
1     viru   40        delhi           bsc
2  pranshu   25         pune           bca
3     anuj   27       madras        m.tech
4   anjali   20        surat           phd

In [ ]:
#Column deletion drop():
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nba.xls')
data.drop(['Team','Number'], axis =1, inplace= True )
data

              Name Position   Age Height  Weight            College     Salary
0    Avery Bradley       PG  25.0    6-2   180.0              Texas  7730337.0
1      Jae Crowder       SF  25.0    6-6   235.0          Marquette  6796117.0
2     John Holland       SG  27.0    6-5   205.0  Boston University        NaN
3      R.J. Hunter       SG  22.0    6-5   185.0      Georgia State  1148640.0
4    Jonas Jerebko       PF  29.0   6-10   231.0                NaN  5000000.0
..             ...      ...   ...    ...     ...                ...        ...
453   Shelvin Mack       PG  26.0    6-3   203.0             Butler  2433333.0
454      Raul Neto       PG  24.0    6-1   179.0                NaN   900000.0
455   Tibor Pleiss        C  26.0    7-3   256.0                NaN  2900000.0
456    Jeff Withey        C  26.0    7-0   231.0             Kansas   947276.0
457            NaN      NaN   NaN    NaN     NaN                NaN        NaN

[458 rows x 7 columns]

              Name Position   Age Height  Weight            College     Salary
0    Avery Bradley       PG  25.0    6-2   180.0              Texas  7730337.0
1      Jae Crowder       SF  25.0    6-6   235.0          Marquette  6796117.0
2     John Holland       SG  27.0    6-5   205.0  Boston University        NaN
3      R.J. Hunter       SG  22.0    6-5   185.0      Georgia State  1148640.0
4    Jonas Jerebko       PF  29.0   6-10   231.0                NaN  5000000.0
..             ...      ...   ...    ...     ...                ...        ...
453   Shelvin Mack       PG  26.0    6-3   203.0             Butler  2433333.0
454      Raul Neto       PG  24.0    6-1   179.0                NaN   900000.0
455   Tibor Pleiss        C  26.0    7-3   256.0                NaN  2900000.0
456    Jeff Withey        C  26.0    7-0   231.0             Kansas   947276.0
457            NaN      NaN   NaN    NaN     NaN                NaN        NaN

[458 rows x 7 columns]

In [ ]:
# Rows selection
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nba.xls', index_col='Name')
first=data.loc['Avery Bradley']
second=data.loc['Jae Crowder']
print(first,'\n\n\n',second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object

In [ ]:
#row addition
import pandas as pd 
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/nba.xls', index_col='Name')
print(df.head(10))
new_row=pd.DataFrame({'Name':'markus','Team':'Landon','Number':3,'Position':'PG','Age':25,'Weight':75,'college':'MIT'},index=[0])
df=pd.concat([new_row,df]).reset_index(drop=True)
df.head(5)

     Name    Team  Number Position   Age  Weight college     name   age  \
0  markus  Landon     3.0       PG  25.0    75.0     MIT      NaN   NaN
1     NaN     NaN     NaN      NaN   NaN     NaN     NaN      jai  30.0
2     NaN     NaN     NaN      NaN   NaN     NaN     NaN     viru  40.0
3     NaN     NaN     NaN      NaN   NaN     NaN     NaN  pranshu  25.0
4     NaN     NaN     NaN      NaN   NaN     NaN     NaN     anuj  27.0
5     NaN     NaN     NaN      NaN   NaN     NaN     NaN   anjali  20.0

  address city qualification
0          NaN           NaN
1       mumbai           mba
2        delhi           bsc
3         pune           bca
4       madras        m.tech
5        surat           phd

,Name,Team,Number,Position,Age,Weight,college,name,age,address city,qualification
0,markus,Landon,3.0,PG,25.0,75.0,MIT,NaN,NaN,NaN,NaN
1,markus,Landon,3.0,PG,25.0,75.0,MIT,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,jai,30.0,mumbai,mba
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,viru,40.0,delhi,bsc
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pranshu,25.0,pune,bca

# Difference between loc() and iloc() in Pandas DataFrame-


Pandas library of python is very useful for the manipulation of mathematical data and is widely used in the field of machine learning. 

It comprises many methods for its proper functioning. loc() and iloc() are one of those methods. 

These are used in slicing data from the Pandas DataFrame. 

They help in the convenient selection of data from the DataFrame in Python. 

They are used in filtering the data according to some conditions.


![image.png]()

Creating a sample dataframe
The working of both of these methods is explained in the sample dataset of cars.

In [19]:
# creating a sample dataframe
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
                               'Mahindra', 'Maruti', 'Hyundai',
                               'Renault', 'Tata', 'Maruti'],
                     'Year': [2012, 2014, 2011, 2015, 2012,
                              2016, 2014, 2018, 2019],
                     'Kms Driven': [50000, 30000, 60000,
                                    25000, 10000, 46000,
                                    31000, 15000, 12000],
                     'City': ['Gurgaon', 'Delhi', 'Mumbai',
                              'Delhi', 'Mumbai', 'Delhi',
                              'Mumbai', 'Chennai',  'Ghaziabad'],
                     'Mileage':  [28, 27, 25, 26, 28,
                                  29, 24, 21, 24]})
 
# displaying the DataFrame
data

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

**Python loc() function-**

The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. 

This method includes the last element of the range passed in it, unlike iloc().

 loc() can accept the boolean data unlike iloc(). 

Many operations can be performed using the loc() method like

In [26]:
display(data.loc[2: 5])

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

Python iloc() function-

The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column.

 This method does not include the last element of the range passed in it unlike loc().
 
  iloc() does not accept the boolean data unlike loc().
  
   Operations performed using iloc() are:

In [27]:
# selecting 0th, 2th, 4th, and 7th index rows
display(data.iloc[[0, 2, 4, 7]])

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
2    Tata  2011       60000   Mumbai       25
4  Maruti  2012       10000   Mumbai       28
7    Tata  2018       15000  Chennai       21

In [28]:
# selecting rows from 1 to 4 and columns from 2 to 4
display(data.iloc[1: 5, 2: 5])

   Kms Driven    City  Mileage
1       30000   Delhi       27
2       60000  Mumbai       25
3       25000   Delhi       26
4       10000  Mumbai       28

In [33]:
# DataFrame
import pandas as pd
 
marks = {"Mathematics": [94, 83, 99, 80], "Science": [91, 92, 81, 86]}
students = ["Aiyana", "Anisha", "Saanvi", "Snehal"]
# Create Dataframe
df = pd.DataFrame(marks, index=students)
df

        Mathematics  Science
Aiyana           94       91
Anisha           83       92
Saanvi           99       81
Snehal           80       86